# Tüm alt klasörlerdeki build çıktıları
**/bin/
**/obj/

# User-specific dosyalar
*.user
*.suo
*.userosscache
*.sln.docstates

# VS Code ve Rider
.idea/
*.sln.iml

# dotnet CLI cache
.nuget/
packages/

# Yayın çıktısı
publish/
*.publish.xml

# Test ve coverage
TestResults/
**/coverage/
*.coverage
*.coveragexml
coverage.cobertura.xml

# Log dosyaları
*.log

# NuGet
*.nupkg
*.snupkg
*.nuspec
*.nupkg.metadata

# JavaScript bağımlılıkları
**/node_modules/
yarn.lock
package-lock.json

# Sistem dosyaları
.DS_Store
Thumbs.db